* {
  padding: 0;
  margin: 0;
  left: 0;
}

.flex-col {
  padding-left: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: flex-col;

  div > img {
    padding-right: 1em;
  }

  div {
    line-height: 20px;
  }
}

.content {
  margin-left: 1.5em;
  padding-left: .5em;
  border-left: 1px solid black;
}

h3 {
  padding-bottom: .5em;
}

.text-content {
  padding-top: .75em;
  padding-bottom: .75em;
}

.text-content-top {
  padding-top: .75em;
}

.text-content-bottom {
  padding-bottom: .75em;
}

ul {
  margin-left: 2em;
}
body > p {
  margin-left: 1em;
}

pre {
  width: 75vw;
  margin-left: 2em;
}
